* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
  }
  
  .chat-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  
  }
  
  h1 {
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
  }
  
  .chat-messages {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    background-color: #f9f9f9;
  }
  
  
  .message {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .input-container {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #00334e;
    border-top: 2px solid #ccc;
    position: sticky;
    bottom: 0;
    width: 100%;
  }
  
  .chat-input {
    flex: 1;
    margin-left: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .send-btn {
    margin-right: 100px;
    padding: 10px 10px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .send-btn:hover {
    background-color: #0056b3;
  }